<#@ include file="Includes\Header.ttinclude" #>
<#@ include file="Includes\ImplHeader.ttinclude" #>

    <#= MethodAttribute #>
    <#= MethodModifier #>fn contains(key: <#= InputKeyTypeName #>) -> bool {
<#= GetMethodHeader(MethodType.Contains) #>
        true
    }
<#@ include file="Includes\Footer.ttinclude" #>