<#@ include file="Includes\Header.ttinclude" #>
<#@ include file="Includes\ImplHeader.ttinclude" #>
<#@ parameter type="Genbox.FastData.Generators.Contexts.KeyLengthContext" name="Context" #>
<#@ parameter type="Genbox.FastData.Generator.Template.TemplateData.KeyLengthTemplateData" name="Data" #>

<#
    if (Data.ValueCount > 0)
    {
        Type offsetType = GeneratorConfig.TypeReductionEnabled ? IntegralTypeReducer.GetSmallestUnsignedStorageType((ulong)Context.ValueOffsets.Max()) : typeof(int);
#>
    <#= FieldModifier #>OFFSETS: [<#= TypeMap.GetTypeName(offsetType) #>; <#= Context.ValueOffsets.Length.ToStringInvariant() #>] = [
<#= FormatHelper.FormatColumns(Context.ValueOffsets, (_, x) => TypeMap.GetValueLiteral(IntegralValueConverter.ConvertChecked(x, offsetType)), 8) #>
    ];

    <#= FieldModifier #>VALUES: [<#= StoredValueTypeName #>; <#= Data.ValueCount.ToStringInvariant() #>] = [
<#= FormatHelper.FormatColumns(Data.Values, Data.ValueCount, TypeMap.GetValueLiteral, 8) #>
    ];
<#
    }
#>
    <#= FieldModifier #>KEYS: [<#= StoredKeyTypeName #>; <#= Data.KeyCount.ToStringInvariant() #>] = [
<#= FormatHelper.FormatColumns(Data.Keys, Data.KeyCount, item => item == null ? "\"\"" : TypeMap.GetValueLiteral(item), 8) #>
    ];

    <#= MethodAttribute #>
    <#= MethodModifier #>fn keys() -> impl Iterator<Item = <#= StoredKeyTypeName #>> {
        Self::KEYS.iter().filter(|k| !k.is_empty()).copied()
    }
<#
    if (Data.ValueCount > 0)
    {
#>

    <#= MethodAttribute #>
    <#= MethodModifier #>fn values() -> impl Iterator<Item = <#= StoredValueTypeName #>> {
        Self::KEYS.iter().enumerate().filter(|(_, k)| !k.is_empty()).map(|(i, _)| Self::VALUES[Self::OFFSETS[i] as usize])
    }
<#
    }
#>

    <#= MethodAttribute #>
    <#= MethodModifier #>fn contains(key: <#= InputKeyTypeName #>) -> bool {
<#= GetMethodHeader(MethodType.Contains) #>
        let idx = <#= LookupKeyName #>.len() - <#= Context.MinLength.ToStringInvariant() #>;
        <#= GetEqual(LookupKeyName, "Self::KEYS[idx]") #>
    }
<#
    if (Data.ValueCount > 0)
    {
#>

    <#= MethodAttribute #>
    <#= MethodModifier #>fn try_lookup(key: <#= InputKeyTypeName #>) -> Option<<#= StoredValueTypeName #>> {
<#= GetMethodHeader(MethodType.TryLookup) #>
        let idx = <#= LookupKeyName #>.len() - <#= Context.MinLength.ToStringInvariant() #>;
        if <#= GetEqual(LookupKeyName, "Self::KEYS[idx]") #> {
            return Some(Self::VALUES[Self::OFFSETS[idx] as usize]);
        }

        None
    }
<#
    }
#>
<#@ include file="Includes\Footer.ttinclude" #>