<#@ include file="Includes\Header.ttinclude" #>
<#@ include file="Includes\ImplHeader.ttinclude" #>
<#@ parameter type="Genbox.FastData.Generator.Template.TemplateData.SingleValueTemplateData" name="Data" #>

<#
    string itemLabel = TypeMap.GetValueLiteral(Data.Item);
#>
<#
    if (Data.Value != null)
    {
#>    const STORED_VALUE: <#= StoredValueTypeName #> = <#= TypeMap.GetValueLiteral(Data.Value) #>;
<#
    }
#>
    <#= MethodAttribute #>
    <#= MethodModifier #>fn keys() -> impl Iterator<Item = <#= StoredKeyTypeName #>> {
        std::iter::once(<#= itemLabel #>)
    }
<#
    if (Data.Value != null)
    {
#>

    <#= MethodAttribute #>
    <#= MethodModifier #>fn values() -> impl Iterator<Item = <#= StoredValueTypeName #>> {
        std::iter::once(Self::STORED_VALUE)
    }
<#
    }
#>
    <#= MethodAttribute #>
    <#= MethodModifier #>fn contains(key: <#= InputKeyTypeName #>) -> bool {
<#= GetMethodHeader(MethodType.Contains) #>
        <#= GetEqual(LookupKeyName, itemLabel) #>
    }
<#
    if (Data.Value != null)
    {
#>

    <#= MethodAttribute #>
    <#= MethodModifier #>fn try_lookup(key: <#= InputKeyTypeName #>) -> Option<<#= StoredValueTypeName #>> {
<#= GetMethodHeader(MethodType.TryLookup) #>
        if <#= GetEqual(LookupKeyName, itemLabel) #> {
            return Some(Self::STORED_VALUE);
        }

        None
    }
<#
    }
#>
<#@ include file="Includes\Footer.ttinclude" #>