<#@ include file="Includes\Header.ttinclude" #>
<#@ parameter type="Genbox.FastData.Generators.Contexts.BitSetContext" name="Context" #>
<#@ parameter type="Genbox.FastData.Generator.Template.TemplateData.BitSetTemplateData" name="Data" #>

<#
    if (Data.HasOccupancy)
    {
#>
    <#= FieldModifier #>ulong[] _bitset = new ulong[] {
<#= FormatHelper.FormatColumns(Context.BitSet, x => TypeMap.GetValueLiteral(x), 8) #>
    };

<#
    }

    if (Data.ValueCount > 0)
    {
#>
    <#= FieldModifier #><#= ValueTypeName #>[] _values = {
<#= FormatHelper.FormatColumns(Data.Values, Data.ValueCount, TypeMap.GetValueLiteral, 8) #>
    };

<#
    }
#>
    <#= MethodModifier #>IEnumerable<<#= KeyTypeName #>> Keys
    {
        get
        {
            for (<#= KeyTypeName #> key = MinKey; key <= MaxKey; key++)
            {
<#
        if (Data.HasOccupancy)
        {
#>                ulong offset = (ulong)(key - MinKey);
                int word = (int)(offset >> 6);
                if ((_bitset[word] & (1UL << (int)(offset & 63))) == 0)
                    continue;

<#
        }
#>                yield return key;
            }
        }
    }
<#
    if (Data.ValueCount > 0)
    {
#>

    <#= MethodModifier #>IEnumerable<<#= ValueTypeName #>> Values
    {
        get
        {
            for (<#= KeyTypeName #> key = MinKey; key <= MaxKey; key++)
            {
                ulong offset = (ulong)(key - MinKey);
<#
        if (Data.HasOccupancy)
        {
#>                int word = (int)(offset >> 6);
                if ((_bitset[word] & (1UL << (int)(offset & 63))) == 0)
                    continue;

<#
        }
#>                yield return _values[(int)offset];
            }
        }
    }
<#
    }
#>

    <#= MethodAttribute #>
    <#= MethodModifier #>bool Contains(<#= KeyTypeName #> key)
    {
<#= GetMethodHeader(MethodType.Contains) #>

        ulong offset = (ulong)(<#= LookupKeyName #> - MinKey);
<#
        if (Data.HasOccupancy)
        {
#>
        int word = (int)(offset >> 6);
        return (_bitset[word] & (1UL << (int)(offset & 63))) != 0;
<#
        }
        else
        {
#>
        return true;
<#
        }
#>
    }
<#
    if (Data.ValueCount > 0)
    {
#>

    <#= MethodAttribute #>
    <#= MethodModifier #>bool TryLookup(<#= KeyTypeName #> key, out <#= ValueTypeName #> value)
    {
<#= GetMethodHeader(MethodType.TryLookup) #>

        ulong offset = (ulong)(<#= LookupKeyName #> - MinKey);
<#
        if (Data.HasOccupancy)
        {
#>
        int word = (int)(offset >> 6);
        if ((_bitset[word] & (1UL << (int)(offset & 63))) == 0)
        {
            value = default;
            return false;
        }

<#
        }
#>
        value = _values[(int)offset];
        return true;
    }
<#
    }
#>
<#@ include file="Includes\Footer.ttinclude" #>