<#@ include file="Includes\Header.ttinclude" #>

    <#= MethodAttribute #>
    <#= MethodModifier #>bool Contains(<#= KeyTypeName #> key)
    {
<#= GetMethodHeader(MethodType.Contains) #>
        return true;
    }
<#@ include file="Includes\Footer.ttinclude" #>