<#@ include file="Includes\Header.ttinclude" #>
<#@ parameter type="Genbox.FastData.Generators.Contexts.HashTableCompactContext" name="Context" #>
<#@ parameter type="Genbox.FastData.Generator.Template.TemplateData.HashTableCompactTemplateData" name="Data" #>

<#
    string[] valueLabels = Data.Values.Select(TypeMap.GetValueLiteral).ToArray();
    Type indexType = GeneratorConfig.TypeReductionEnabled ? IntegralTypeReducer.GetSmallestUnsignedStorageType((ulong)Context.BucketStarts.Max()) : typeof(uint);
    Type hashType = Context.StoreHashCode && GeneratorConfig.TypeReductionEnabled ? IntegralTypeReducer.GetSmallestUnsignedStorageType(Data.Entries.Max(x => x.Hash)) : typeof(ulong);
#>
    [StructLayout(LayoutKind.Auto)]
    private struct E
    {
        internal <#= KeyTypeName #> Key;
<#
    if (Context.StoreHashCode)
    {
#>        internal <#= TypeMap.GetTypeName(hashType) #> HashCode;
<#
    }
#><#
    if (Data.ValueCount > 0)
    {
#>        internal <#= ValueTypeName #> Value;
<#
    }
#>        internal E(<#= KeyTypeName #> key<#
    if (Context.StoreHashCode)
    {
#>, <#= TypeMap.GetTypeName(hashType) #> hashCode<#
    }
#><#
    if (Data.ValueCount > 0)
    {
#>, <#= ValueTypeName #> value<#
    }
#>)
        {
            Key = key;
<#
    if (Context.StoreHashCode)
    {
#>        HashCode = hashCode;
<#
    }
#><#
    if (Data.ValueCount > 0)
    {
#>        Value = value;
<#
    }
#>    }
    };

    <#= FieldModifier #><#= TypeMap.GetTypeName(indexType) #>[] _bucketStarts = new <#= TypeMap.GetTypeName(indexType) #>[] {
<#= FormatHelper.FormatColumns(Context.BucketStarts, x => TypeMap.GetValueLiteral(IntegralValueConverter.ConvertChecked(x, indexType)), 8) #>
    };

    <#= FieldModifier #>E[] _entries = {
<#= FormatHelper.FormatColumns(Data.Entries, (i, x) =>
    {
        string hashPart = Context.StoreHashCode ? $", {TypeMap.GetValueLiteral(IntegralValueConverter.ConvertChecked(x.Hash, hashType))}" : "";
        string valuePart = Data.ValueCount > 0 ? $", {valueLabels[i]}" : "";
        return $"new E({TypeMap.GetValueLiteral(x.Key)}{hashPart}{valuePart})";
    }, 8) #>
    };

<#= HashSource #>

    <#= MethodModifier #>IEnumerable<<#= KeyTypeName #>> Keys
    {
        get
        {
            for (int i = 0; i < _entries.Length; i++)
                yield return _entries[i].Key;
        }
    }
<#
    if (Data.ValueCount > 0)
    {
#>

    <#= MethodModifier #>IEnumerable<<#= ValueTypeName #>> Values
    {
        get
        {
            for (int i = 0; i < _entries.Length; i++)
                yield return _entries[i].Value;
        }
    }
<#
    }
#>

    <#= MethodAttribute #>
    <#= MethodModifier #>bool Contains(<#= KeyTypeName #> key)
    {
<#= GetMethodHeader(MethodType.Contains) #>

        ulong hash = <#= HashCall #>;
        int index = (int)(<#= GetMod("hash", (ulong)(Context.BucketStarts.Length - 1)) #>);
        int start = (int)_bucketStarts[index];
        int end = (int)_bucketStarts[index + 1];

        for (int i = start; i < end; i++)
        {
            ref E entry = ref _entries[i];

            if (<#
    if (Context.StoreHashCode)
    {
#>(ulong)entry.HashCode == hash && <#
    }
#><#= GetEqual("entry.Key", LookupKeyName) #>)
                return true;
        }

        return false;
    }
<#
    if (Data.ValueCount > 0)
    {
#>

    <#= MethodAttribute #>
    <#= MethodModifier #>bool TryLookup(<#= KeyTypeName #> key, out <#= ValueTypeName #> value)
    {
<#= GetMethodHeader(MethodType.TryLookup) #>

        ulong hash = <#= HashCall #>;
        int index = (int)(<#= GetMod("hash", (ulong)(Context.BucketStarts.Length - 1)) #>);
        int start = (int)_bucketStarts[index];
        int end = (int)_bucketStarts[index + 1];

        for (int i = start; i < end; i++)
        {
            ref E entry = ref _entries[i];

            if (<#
        if (Context.StoreHashCode)
        {
#> (ulong)entry.HashCode == hash && <#
        }
#><#= GetEqual("entry.Key", LookupKeyName) #>)
            {
                value = entry.Value;
                return true;
            }
        }

        value = default;
        return false;
    }
<#
    }
#>
<#@ include file="Includes\Footer.ttinclude" #>