<#@ include file="Includes\Header.ttinclude" #>
<#@ parameter type="Genbox.FastData.Generator.Template.TemplateData.RangeTemplateData" name="Data" #>

<#
    if (Data.RangeCount > 1)
    {
#>
    <#= FieldModifier #><#= KeyTypeName #>[] _rangeStarts = new <#= KeyTypeName #>[] {
<#= FormatHelper.FormatColumns(Data.Ranges, x => TypeMap.ToValueLabel(x.Start), 8) #>
    };

    <#= FieldModifier #><#= KeyTypeName #>[] _rangeEnds = new <#= KeyTypeName #>[] {
<#= FormatHelper.FormatColumns(Data.Ranges, x => TypeMap.ToValueLabel(x.End), 8) #>
    };
<#
    }
#>
    <#= MethodModifier #>IEnumerable<<#= KeyTypeName #>> Keys
    {
        get
        {
<#
    if (Data.RangeCount == 1)
    {
#>            for (<#= KeyTypeName #> key = <#= TypeMap.ToValueLabel(Data.Ranges[0].Start) #>; ; key++)
            {
                yield return key;

                if (key == <#= TypeMap.ToValueLabel(Data.Ranges[0].End) #>)
                    break;
            }
<#
    }
    else
    {
#>            for (int i = 0; i < _rangeStarts.Length; i++)
            {
                for (<#= KeyTypeName #> key = _rangeStarts[i]; ; key++)
                {
                    yield return key;

                    if (key == _rangeEnds[i])
                        break;
                }
            }
<#
    }
#>        }
    }

    <#= MethodAttribute #>
    <#= MethodModifier #>bool Contains(<#= KeyTypeName #> key)
    {
<#= GetMethodHeader(MethodType.Contains) #>

<#
    if (Data.RangeCount == 1)
    {
#>
        return <#= LookupKeyName #> >= <#= TypeMap.ToValueLabel(Data.Ranges[0].Start) #> && <#= LookupKeyName #> <= <#= TypeMap.ToValueLabel(Data.Ranges[0].End) #>;
<#
    }
    else if (Data.RangeCount < 8)
    {
#>
        for (int i = 0; i < <#= Data.RangeCount.ToStringInvariant() #>; i++)
        {
            if (<#= LookupKeyName #> < _rangeStarts[i])
                return false;

            if (<#= LookupKeyName #> <= _rangeEnds[i])
                return true;
        }

        return false;
<#
    }
    else
    {
#>
        int low = 0;
        int high = <#= Data.RangeCount.ToStringInvariant() #>;

        while (low < high)
        {
            int middle = low + ((high - low) >> 1);

            if (<#= LookupKeyName #> < _rangeStarts[middle])
                high = middle;
            else
                low = middle + 1;
        }

        int rangeIndex = low - 1;
        return rangeIndex >= 0 && <#= LookupKeyName #> <= _rangeEnds[rangeIndex];
<#
    }
#>
    }
<#@ include file="Includes\Footer.ttinclude" #>