<#@ include file="Includes\Header.ttinclude" #>
<#@ parameter type="Genbox.FastData.Generator.Template.TemplateData.RangeTemplateData" name="Data" #>

<#
    if (Data.RangeCount > 1)
    {
#>
    <#= FieldModifier #><#= KeyTypeName #>[] _rangeStarts = new <#= KeyTypeName #>[] {
<#= FormatHelper.FormatColumns(Data.Ranges, x => TypeMap.ToValueLabel(x.Start), 8) #>
    };

    <#= FieldModifier #><#= KeyTypeName #>[] _rangeEnds = new <#= KeyTypeName #>[] {
<#= FormatHelper.FormatColumns(Data.Ranges, x => TypeMap.ToValueLabel(x.End), 8) #>
    };
<#
    }
#>
    <#= MethodModifier #>IEnumerable<<#= KeyTypeName #>> Keys
    {
        get
        {
<#
    if (Data.RangeCount == 1)
    {
#>            for (<#= KeyTypeName #> key = <#= TypeMap.ToValueLabel(Data.Ranges[0].Start) #>; key <= <#= TypeMap.ToValueLabel(Data.Ranges[0].End) #>; key++)
                yield return key;
<#
    }
    else
    {
#>            for (int i = 0; i < _rangeStarts.Length; i++)
            {
                for (<#= KeyTypeName #> key = _rangeStarts[i]; key <= _rangeEnds[i]; key++)
                    yield return key;
            }
<#
    }
#>        }
    }

    <#= MethodAttribute #>
    <#= MethodModifier #>bool Contains(<#= KeyTypeName #> key)
    {
<#= GetMethodHeader(MethodType.Contains) #>

<#
    if (Data.RangeCount == 1)
    {
#>
        return <#= LookupKeyName #> >= <#= TypeMap.ToValueLabel(Data.Ranges[0].Start) #> && <#= LookupKeyName #> <= <#= TypeMap.ToValueLabel(Data.Ranges[0].End) #>;
<#
    }
    else
    {
#>
        for (int i = 0; i < <#= Data.RangeCount.ToStringInvariant() #>; i++)
        {
            if (<#= LookupKeyName #> >= _rangeStarts[i] && <#= LookupKeyName #> <= _rangeEnds[i])
                return true;
        }

        return false;
<#
    }
#>
    }
<#@ include file="Includes\Footer.ttinclude" #>