<#@ include file="Includes\Header.ttinclude" #>
<#@ parameter type="Genbox.FastData.Generator.Template.TemplateData.ArrayTemplateData" name="Data" #>

<#
    if (Data.ValueCount > 0)
    {
#>
    <#= FieldModifier(false) #>std::array<<#= ValueTypeName #>, <#= Data.ValueCount.ToStringInvariant() #>> value_items = {
<#= FormatHelper.FormatColumns(Data.Values, Data.ValueCount, TypeMap.GetValueLiteral, 8) #>
    };
<#
    }
#>

    <#= FieldModifier(true) #>std::array<<#= KeyTypeName #>, <#= Data.KeyCount.ToStringInvariant() #>> key_items = {
<#= FormatHelper.FormatColumns(Data.Keys, Data.KeyCount, TypeMap.GetValueLiteral, 8) #>
    };

public:
<#= ArrayAccessProperties("key_items", Data.KeyCount, "value_items", Data.ValueCount) #>
    <#= MethodAttribute #>
    <#= MethodModifier(true) #>bool contains(const <#= KeyTypeName #> key)<#= PostMethodModifier #> {
<#= GetMethodHeader(MethodType.Contains) #>
        for (size_t i = 0; i < <#= Data.KeyCount.ToStringInvariant() #>; i++) {
            if (<#= GetEqual("key_items[i]", LookupKeyName) #>)
                return true;
        }
        return false;
    }
<#
    if (Data.ValueCount > 0)
    {
#>

    <#= MethodAttribute #>
    <#= MethodModifier(false) #>bool try_lookup(const <#= KeyTypeName #> key, const <#= ValueTypeName #>*& value)<#= PostMethodModifier #> {
<#= GetMethodHeader(MethodType.TryLookup) #>
        for (size_t i = 0; i < <#= Data.KeyCount.ToStringInvariant() #>; i++) {
            if (<#= GetEqual("key_items[i]", LookupKeyName) #>) {
                value = &value_items[i];
                return true;
            }
        }

        value = nullptr;
        return false;
    }
<#
    }
#>
<#@ include file="Includes\Footer.ttinclude" #>