<#@ include file="Includes\Header.ttinclude" #>
<#@ parameter type="Genbox.FastData.Generators.Contexts.KeyLengthContext" name="Context" #>
<#@ parameter type="Genbox.FastData.Generator.Template.TemplateData.KeyLengthTemplateData" name="Data" #>

<#
    if (Data.ValueCount > 0)
    {
        Type offsetType = GeneratorConfig.TypeReductionEnabled ? TypeMap.GetSmallestUnsignedType((ulong)Context.ValueOffsets.Max()) : typeof(int);
#>
    <#= FieldModifier(true) #>std::array<<#= TypeMap.GetTypeName(offsetType) #>, <#= Context.ValueOffsets.Length.ToStringInvariant() #>> offsets = {
<#= FormatHelper.FormatColumns(Context.ValueOffsets, x => TypeMap.ToValueLabel(x, offsetType), 8) #>
    };

    <#= FieldModifier(false) #>std::array<<#= ValueTypeName #>, <#= Data.ValueCount.ToStringInvariant() #>> value_items = {
<#= FormatHelper.FormatColumns(Data.Values, Data.ValueCount, TypeMap.ToValueLabel, 8) #>
    };
<#
    }
#>
    <#= FieldModifier(true) #>std::array<<#= KeyTypeName #>, <#= Data.KeyCount.ToStringInvariant() #>> key_items = {
<#= FormatHelper.FormatColumns(Data.Keys, Data.KeyCount, item => item == null ? "{}" : TypeMap.ToValueLabel(item), 8) #>
    };
public:
    class index_iterator {
    protected:
        size_t _index;

        void advance() noexcept {
            while (_index < key_items.size() && key_items[_index].data() == nullptr)
                ++_index;
        }

    public:
        explicit index_iterator(const size_t index) noexcept : _index(index) { advance(); }

        index_iterator& operator++() noexcept { ++_index; advance(); return *this; }
        [[nodiscard]] bool operator!=(const index_iterator& other) const noexcept { return _index != other._index; }
    };

    class key_iterator final : public index_iterator {
    public:
        using index_iterator::index_iterator;
        [[nodiscard]] const <#= KeyTypeName #>& operator*() const noexcept { return key_items[_index]; }
    };

    class key_range final {
    public:
        [[nodiscard]] key_iterator begin() const noexcept { return key_iterator(0); }
        [[nodiscard]] key_iterator end() const noexcept { return key_iterator(key_items.size()); }
    };

    [[nodiscard]]
    static key_range keys() noexcept { return key_range(); }
<#
    if (Data.ValueCount > 0)
    {
#>

    class value_iterator final : public index_iterator {
    public:
        using index_iterator::index_iterator;
        [[nodiscard]] const <#= ValueTypeName #>& operator*() const noexcept { return value_items[offsets[_index]]; }
    };

    class value_range final {
    public:
        [[nodiscard]] value_iterator begin() const noexcept { return value_iterator(0); }
        [[nodiscard]] value_iterator end() const noexcept { return value_iterator(key_items.size()); }
    };

    [[nodiscard]]
    static value_range values() noexcept { return value_range(); }
<#
    }
#>
    <#= MethodAttribute #>
    <#= MethodModifier(true) #>bool contains(const <#= KeyTypeName #> key)<#= PostMethodModifier #> {
<#= GetMethodHeader(MethodType.Contains) #>
        size_t idx = <#= LookupKeyName #>.length() - <#= Context.MinLength.ToStringInvariant() #>;
        return <#= GetEqual(LookupKeyName, "key_items[idx]") #>;
    }
<#
    if (Data.ValueCount > 0)
    {
#>

    <#= MethodAttribute #>
    <#= MethodModifier(false) #>bool try_lookup(const <#= KeyTypeName #> key, const <#= ValueTypeName #>*& value)<#= PostMethodModifier #> {
<#= GetMethodHeader(MethodType.TryLookup) #>
        size_t idx = <#= LookupKeyName #>.length() - <#= Context.MinLength.ToStringInvariant() #>;
        if (<#= GetEqual(LookupKeyName, "key_items[idx]") #>) {
            value = &value_items[offsets[idx]];
            return true;
        }

        value = nullptr;
        return false;
    }
<#
    }
#>
<#@ include file="Includes\Footer.ttinclude" #>