<#@ include file="Includes\Header.ttinclude" #>
<#@ parameter type="Genbox.FastData.Generator.Template.TemplateData.SingleValueTemplateData" name="Data" #>

<#
    string itemLabel = TypeMap.ToValueLabel(Data.Item);
#>
    <#= FieldModifier(true) #>std::array<<#= KeyTypeName #>, 1> key_items = { <#= itemLabel #> };
<#
    if (Data.Value != null)
    {
#>    inline static const std::array<<#= ValueTypeName #>, 1> value_items = { <#= TypeMap.ToValueLabel(Data.Value) #> };
<#
    }
#>
public:
    <#= KeyDirectAccessProperty("key_items", 1) #>
<#
    if (Data.Value != null)
    {
#>

    <#= ValueDirectAccessProperty("value_items", 1) #>
<#
    }
#>
    <#= MethodAttribute #>
    <#= MethodModifier(true) #>bool contains(const <#= KeyTypeName #> key)<#= PostMethodModifier #> {
<#= GetMethodHeader(MethodType.Contains) #>
        return <#= GetEqual(LookupKeyName, itemLabel) #>;
    }
<#
    if (Data.Value != null)
    {
#>

    <#= MethodAttribute #>
    <#= MethodModifier(false) #>bool try_lookup(const <#= KeyTypeName #> key, const <#= ValueTypeName #>*& value)<#= PostMethodModifier #> {
<#= GetMethodHeader(MethodType.TryLookup) #>
        if (<#= GetEqual(LookupKeyName, itemLabel) #>) {
            value = &value_items[0];
            return true;
        }

        value = nullptr;
        return false;
    }
<#
    }
#>
<#@ include file="Includes\Footer.ttinclude" #>